@font-face {
  font-family: thisfont;
  src: url("PTSansNarrow-Bold.ttf");
}
@font-face {
  font-family: thisfontreg;
  src: url("PTSansNarrow-Regular.ttf");
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}
.row {
  margin: 0;
  padding: 0;
}
.hfull {
  height: 100%;
}
.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}
.btn {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  margin: 5px;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}
.foto {
  background-image: url("gina.jpg");
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.leftbg {
  background-image: url("bg-texture.jpg");
  /* opacity: 0.5; */
  background-size: cover;
  background-position: 46em;
  /* z-index: -1; */
}
h1 {
  font-family: thisfont;
  font-size: 60px;
}
h2 {
  font-family: thisfont;
  font-size: 40px;
}
.leftside {
  padding-left: 20px;
}
.desc {
  font-family: thisfontreg;
  width: 500px;
}
